@font-face {
    font-family: 'TT Lakes regular';
    src: url(fonts/TTLakes-Regular.ttf);
}
@font-face {
    font-family: 'TT Lakes medium';
    src: url(fonts/TTLakes-Medium.ttf);
}
@font-face {
    font-family: 'TT Lakes bold';
    src: url(fonts/TTLakes-Bold.ttf);
}
body {
    margin:0;
}

ul {
    list-style:none;
    padding:0;
}

/*Header*/
.header {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:10px;
}
@media (min-width:1120px) {
    .header {
        display:none;
    }
}

.header__start {
    display: flex;
    align-items: center;
}
.header__end {
    display: flex;
}

.header__logo {
    width:120px;
    margin-left:5px;
    margin-right:0px;
}
@media (min-width:768px) {
    .header__logo::before {
        content:'';
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        position:absolute;
        top: 20px;
        left: 80px;
    }
    .header__logo {
        margin-left:30px;
    }
}
.logo__image {
    height:51px;
    width:97px;
}

.header__icon {
    width:40px;
    height:40px;
    margin:0 10px;
}

.header__icon--new {
    display:none;
}
@media (min-width:768px) {
    .header__icon--new {
        display:block;
    }
    .header__icon--decor {
        margin-left:30px;
    }
}
.header__icon--decor {
    position:relative;
}
.header__icon--decor::before {
    content:' ';
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position:absolute;
    top:4px;
    right:58px;
}
@media(min-width:355px) and (max-width:767px){
    .header__icon--decor::before {
        display:none;
    }
}
@media(max-width:340px) {
    .header__icon--decor::before {
        left:185px;
    }
}
/*Main*/
.main {
    background-color:#ffffff;
}
/*Head*/
.head {
    display:flex;
    align-items: center;
    padding-top:10px;
    padding-bottom:10px; 
    position:relative;
}
.head__title {
    font-size: 28px;
    font-family: 'TT Lakes bold',sans-serif;
    padding-left:20px;
}
.head__title::before {
    content:'';
    position:absolute;
    width:4px;
    height:40px;
    background-color:#41F6D7;
    left:0px;
    top:23px;
}
.head__icon {
    display:none;
}
.head__label {
    display:none;
}
@media (min-width:1120px) {
    .head__icon {
        display:block;
        margin-right:20px;
    }
    .head__label {
        display:inline;
        font-family:'TT Lakes medium',sans-serif;
        font-size:16px;
        color:#1B1C21;
        padding:5px 10px;
    }
    .head__icons {
        display:flex;
        justify-content:flex-end;
        width:100%;
        align-items: center;
    }
    .head__title {
        width:400px;
        margin-left:20px;
    }
}

/*Navigation*/

.nav {
    overflow-x:scroll;
    display:flex;
    margin-left:20px;
    padding:0px;
}
@media (min-width:1120px) {
    .nav{
        flex-wrap:wrap;
        margin-left:30px;
    }
}
.nav__link {
    display:block;
    font-family:'TT Lakes medium',sans-serif;
    font-size: 16px;
    flex-shrink: 0;
    padding: 8px 20px;
    text-decoration: none;
    color:#7E7E82;
    white-space:nowrap;
}
.nav__link--first {
    border: 2px solid #B8FFEC;
    border-radius: 10px;
}
/*Article*/
.info__text {
    font-family:'TT Lakes regular',sans-serif;
    font-size:14px;
    color:#1B1C21;
    padding:16px;
    padding-right:30px;
    margin:0;
}
.info__text--extra {
    display:none;
}
.expand {
    display:flex;
    align-items:center;
    padding-left:15px;
    padding-bottom:15px;
}
.expand__readmore {
    font-family: 'TT Lakes medium',sans-serif;
    font-size:16px;
    color:#1B1C21;
    padding-left:12px;
    text-decoration:none;
    background-color:#ffffff;
    border:none;
    cursor:pointer;
}
.expand__arrows {
    background-image: url(img/icon.png);
    width:10px;
    height:11px;
    background-repeat:no-repeat;
}
.info__text--fullextra {
    display:none;
}
.article__image {
    width:100%;
}
@media (min-width:500px) {
    .article {
        display:flex;
        padding: 10px 10px;
    }
    .article__image {
        border-radius:10px;
        align-self:center;
    }
}
@media (min-width:768px) and (max-width:1119px) {
    .info__text--extra {
        display:block;
    }
   
}
@media (min-width:1119px) {
    .info__text--fullextra {
        display:block;
    }
}
/*Menu*/
.header__menu{
    position:absolute;
    top:0;
    left:0;
}
@media (max-width:1119px) {
    .menu {
        display:none;
    }
    .header__icon--burger:focus ~ .menu {
        display:block;
    }
}
.menu {
    box-sizing:border-box;
    width:320px;
    box-shadow: 1px 0px 20px 0px #b9b9b9;
    padding:10px;
    z-index:1;
    background-color: #ffffff;
}
/*Cap*/
.menu__cap {
    display:flex;
    align-items:center;
}
.menu__icon {
    margin:10px;
    cursor:pointer;
}
.menu__logo {
    margin-right:70px;
    margin-left:5px;
}
/*List*/
.menu__list {
    padding: 15px;
}
.menu__item {
    display:block;
    font-family:'TT Lakes regular', sans-serif;
    font-size:16px;
    margin:15px 0;
    color:#1B1C21;
    cursor:pointer;
    transition: color 0.2s linear;
}
.menu__item--clicked {
    color:#7E7E82;
    position:relative;
}
.menu__item--clicked::before {
    content:'';
    width:4px;
    height:32px;
    background-color:#41F6D7;
    position:absolute;
    top: -7px;
    left: -23px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.menu__item:hover {
    color:#7E7E82;
}
/*Footer*/
.footer {
    display:flex;
    flex-direction: column;
}
.footer__icons {
    display:flex;
}
.footer__languages {
    display:flex;
}
.footer__icon {
    margin: 0 10px;
    cursor:pointer;
}
.footer__number {
    font-family:'TT Lakes bold', sans-serif;
    font-size:24px;
    color:#1B1C21;
    margin-left:10px;
}
.footer__email {
    font-family:'TT Lakes medium', sans-serif;
    font-size:16px;
    color:#1B1C21;
    margin-bottom:10px;
    margin-left:10px;
}
.footer__lang {
    font-family:'TT Lakes medium', sans-serif;
    font-size:16px;
    color:#1B1C21;
    margin: 0 5px;
    cursor:pointer;
}
.footer__languages {
    margin-left:5px;
    margin-top:30px;
}
.footer__lang:first-child {
    color:#7E7E82;
}